body {
    padding-bottom: 100em;
}

* {
    box-sizing: border-box;
}

p {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-size: 2em;
}

.parallax {
    padding: 5em 0;
    background-image: url("https://vignette.wikia.nocookie.net/reinoanimalia/images/3/38/Tigre_1.png/revision/latest?cb=20130414074332&path-prefix=es");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    text-align: center;
    color: #fff;
    font-size: 2em;
    background-attachment: fixed;
}